

<%- include ('partials/header.ejs') %>

<% iclude ('partials/main_nav.ejs') %>


<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>


<%- inlcude ('partials/bottom_nav.ejs') %>

<%- inlcude ('partials/footer.ejs') %>